
table.tab
{
 border-collapse:	collapse;
 width: 100%;
}

.white
{
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.black
{
 background: url(../images/topbar_gradient2.png) 0 0 repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 text-align: right;
 color: #eeeeee;
 padding-left: 5px;
 padding-right: 5px;
}

.Weibull
{
 color: #f00;
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.Exponential
{
 color: #0a0;
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.Gamma
{
 color: #00f;
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.Logarithmic
{
 color: #d06010;
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.Power
{
 color: #dd0099;
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 border-bottom: 1px solid #000;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.white2
{
 background: #f7f7f7 url(../images/dots.gif) 0 0 no-repeat;
 font: normal 10px verdana,'Bitstream Vera Sans',helvetica,arial,sans-serif;
 padding-left: 10px;
 padding-right: 10px;
}

.main_right
{
 border-right: 1px solid #000;
}

.main_left
{
 border-bottom: 1px solid #000;
}
